/* 
   Reset
------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, tr, th, td, textarea, input, select {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th {vertical-align: middle;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img {border: none;}
:focus {outline: 0;}

.img_input{border:none;outline:none;}

.admin_list tr{
	border-bottom:solid 1px grey;
	}
	
.rcon_box {
	color: #eeeeee;
	background-color: #000000;
	padding: 5px;
	font-family: verdana, tahoma, arial;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

/* 
   General 
------------------------------------------------------------------- */

html {
	height: 100%;
	padding-bottom: 1px; /* force scrollbars */
}

body {
	background: #000000;
	color: #FFFFFF;
	font: 11pt tahoma, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}


/* 
   Typography 
------------------------------------------------------------------- */

/* Headings */

h1,h2,h3,h4,h5,h6 {
	color: #444;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 0.3em;
}

h4,h5,h6 {font-weight: bold;}

h1 {
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-shadow: white 1px 1px 4px;
	cursor: pointer;
}

h1 a, a:hover, a:active, a:focus {
	color: white;
}

h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin: 0;}


/* Links */

a:focus,a:hover {color: #e3cc9a;}
a {
	color: #e3cc9a;
	text-decoration: none;

}
a.feed {
	background: url('../gfx/icon-feed.gif') no-repeat left center;
	padding-left: 18px;
}

/* More links */
a.more {
	color: #579;
	font-weight: bold;
}
a.more:hover {color: #234;}


/* Text elements */

p {margin-bottom: 1em;}

abbr, acronym {border-bottom: 1px dotted #666;}
address {margin-bottom: 1.5em;}
blockquote {margin: 1.5em;}
del, blockquote { color:#666; }
em, dfn, blockquote, address {font-style: italic;}
strong, dfn {font-weight: bold;}
sup, sub {line-height: 0;}

pre {
	margin: 1.5em 0;
	white-space: pre;
}
pre,code,tt {
	font: 1em monospace;
	line-height: 1.5;
}


/* Lists */

li ul, li ol {margin-left: 1.5em;}
ul, ol {margin: 0 0 1.5em 1.5em;}

ul {list-style-type: disc;}
ol {list-style-type: decimal;}

dl {margin: 0 0 1.5em 0;}
dl dt {font-weight: bold;}
dd {margin-left: 1.5em;}



/* Special lists */

ul.plain-list li, ul.nice-list li, ul.tabbed li {list-style: none;}

ul.tabbed {
	display: inline;
	margin: 0;
}
ul.tabbed li {float: left;}

ul.plain-list {margin: 0;}

ul.nice-list {margin-left: 0;}
ul.nice-list li {
	list-style: none;
	border-top: 1px solid #333;
	padding: 4px 0;
	font: 11px Georgia, sans-serif;
}
ul.nice-list li:first-child {border-top: none;}
ul.nice-list li .right {color: #999;}

li div.left {
	/* font-weight: bold; */
}




/* Tables */

table {margin-bottom: 1.4em; width: 100%;}
th {font-weight: bold;}
th,td,caption {padding: 4px 10px 4px 5px;}
tr.even td {background: #F2F6FA;}
tfoot {font-style: italic;}
caption {background: #EEE;}

table.data-table {
	border: 1px solid #CCB;
	margin-bottom: 2em;
	width: 100%;
}
table.data-table th {
	background: #F0F0F0;
	border: 1px solid #DDD;
	color: #555;
	text-align: left;
}
table.data-table tr {border-bottom: 1px solid #DDD;}
table.data-table td, table th {padding: 10px;}
table.data-table td {
	background: #F6F6F6;
	border: 1px solid #DDD;
}
table.data-table tr.even td {background: #FCFCFC;}

td.enter {
	width: 5%;
}


/* Misc classes */

.small {font-size: 0.9em;}
.smaller {font-size: 0.8em;}
.smallest {font-size: 0.7em;}

.large {font-size: 1.15em;}
.larger {font-size: 1.25em;}
.largest {font-size: 1.35em;}

.hidden {display: none;}

.quiet {color: #999;}
.loud {color: #000;}
.highlight {background:#ff0;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-separator {padding: 0 5px;}

.error, .notice, .success {
	border: 1px solid #DDD;
	margin-bottom: 1em;
	padding: 0.6em 0.8em;
	font-weight:bold;
	text-shadow: #00991E 0px 0px 3px;
}

.error {background: url('../gfx/arebanned_background.gif'); color: #FBE3E4; border-color: #FBC2C4;}

.notice {background: #FFF6BF; color: #514721; border-color: #FFD324;}
.notice a {color: #514721;}

.success {background: url('../gfx/notbanned_background.gif'); color: white; border-color: #C6D880;}
.success a {color: #264409;}


/* 
   Forms 
------------------------------------------------------------------- */

label {font-weight: bold; cursor: pointer;}
fieldset {padding: 1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc;}
legend {font-weight: bold; font-size: 1.2em;}
textarea {overflow: auto;}
input.text, textarea, select {
	background: #FCFCFC;
	border: 1px inset #AAA;
	margin: 0.5em 0;
	padding: 4px 5px;
}
input.text:focus, textarea:focus, select:focus {background: #FFFFF5;}

input.button {
	background: #DDD;
	border: 1px outset #AAA;
	padding: 2px 5px;
}
input.button:active {border-style: inset;}

.form-error {border-color: #F00;}

input, textarea {
	border: 1px #C0C0C0 solid;
}

.biginput {
	font-size: 180%;
	text-align: center;
	height: 30px;
	border: 1px solid gainsboro;
}

/* 
   Alignment 
------------------------------------------------------------------- */

/* General */

.center,.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

legend {
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	color: #696969;
}

.fieldset { 
	margin-bottom: 6px; 
}

fieldset { 
	border: 1px solid #d5d5d5;
}


/* Images */

img.bordered,img.alignleft,img.alignright,img.aligncenter {
	background-color: #FFF;
	border: 1px solid #DDD;
	padding: 3px;
}
img.alignleft, img.left {margin: 0 1.5em 1em 0;}
img.alignright, img.right {margin: 0 0 1em 1.5em;}


/* Floats */   

.left,.alignleft {float: left;}
.right,.alignright {float: right;}

.clear,.clearer {clear: both;}
.clearer {
	display: block;
	font-size: 0;
	line-height: 0;
	height: 0;
}


/* 
   Separators 
------------------------------------------------------------------- */

.content-separator, .archive-separator {
	background: #D5D5D5;
	clear: both;
	color: #FFE;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;	
}
.content-separator {margin: 20px 0;}
.archive-separator {margin: 10px 0;}


/* 
   Posts 
------------------------------------------------------------------- */

.post a {text-decoration: none;}
.post a:hover {text-decoration: underline;}

.post img.left, .post img.right {margin-bottom: 0;}

.post-date {
	color: #777;
	margin: 2px 0 10px;
}
.post-date a {color: #444;}

.post-title h1, .post-title h2, .post-title h3 {margin-bottom: 0;}

.post-meta {
	background: #F6F6F6;
	border: 1px solid #DDD;
	color: #777;
	padding: 6px 10px;
}
.post-meta a {color: #345; }
.post-meta a:hover {color: #001;}

.post-body {font-size: 1.1em;}
.post-body a {color: #039;}
.post-body a:hover {color: #039;}

.post-body img.left, .post-body img.right {margin-bottom: 1em;}



/* Archives */
.archive-pagination {margin-bottom: 16px;}
.archive-post-date {
	background: #F5F5F5;
	border-bottom: 1px solid #C5C5C5;
	border-right: 1px solid #CFCFCF;
	float: left;
	margin-right: 12px;
	padding: 2px 0 5px;
	text-align: center;
	width: 46px;
}
.archive-post-title .post-date {margin: 0;}
.archive-post-title {padding-top: 4px;}
.archive-post-day {font: normal 1.6em Georgia,serif;}


/* 
   Layout 
------------------------------------------------------------------- */

/* General */
.center-wrapper {
	margin: 0 auto;
	width: 90%;
}

.title {
	color:#999999;
	font-family:Verdana,sans-serif;
	font-weight: bold;
	font-size: 170%;
}

span.error {
	font-weight: bold;
	color: red;
}

.smallfont {
	font: 10px tahoma ,verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Network */

#network {
	background: #a4a4a4 url(../gfx/gradient.gif) repeat-x bottom left;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border-top:1px #3e3e3e solid;
	border-bottom: 1px #3e3e3e solid;
	color: #e3cc9a;

}
#network .left {
	color: #e3cc9a;
	vertical-align: text-bottom;
}

#network .right {
	color: #e3cc9a;
	vertical-align: text-bottom;
}

#network .tabbed a {
	display: block;
	padding: 6px 10px 7px;
	text-decoration: none;
	color: #e3cc9a;
}

#network .install span {
	display: block;
	padding: 6px 10px 7px;
	text-decoration: none;
	color: #666;
}

#network li a:hover {
	background: #333;
}
#network li.current-tab a {
	background: #FFF;
}
#network .text-separator, #network span {color: #999;}


/* Toolbar */
#toolbar {
	padding: 12px 0 8px;
	font-size: 1.1em;
	color: #999;
}
#toolbar img {vertical-align: middle;}


/* Header */

#header {}

/* Site title */
#site-title {
	font: normal 1.6em serif;
	padding-bottom: 24px;
}
#site-title span {color: #999;}
#site-title a {
	color: #000;
	text-decoration: none;
}

#site {
	margin-bottom: 10px;
}

/* Navigation */

#navigation {margin-bottom: 24px;}
#navigation a {
	display: block;
	text-decoration: none;
}

/* Main navigation */

#main-nav a {
	color: #888;
	font-size: 1.5em;
	padding: 9px 14px;
}
#main-nav li {background: url('../gfx/navigation-separator.gif') no-repeat left center;}
#main-nav li:first-child {background: none;}
#main-nav li.current-tab a, #main-nav a:hover {color: #002;}
#main-nav li.current-tab a {background: url('../gfx/navigation-arrow.gif') no-repeat center bottom;}


/* Subnav */

#sub-nav {
	background: url(../gfx/gradient.gif) repeat-x bottom left;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border-top:1px #3e3e3e solid;
	border-bottom: 1px #3e3e3e solid;
	color: #e3cc9a;
}
#sub-nav a {
	color: #e3cc9a;
	font: bold 1.2em sans-serif;
	padding: 10px;
}
#sub-nav li.current-tab a, #sub-nav a:hover {color: #e3cc9a;}


/* Main */

.main {margin-bottom: 18px;}

.main#main-three-columns .sidebar {width: 193px;}
.main#main-three-columns #main-left {width: 520px;}

.main#main-two-columns .sidebar {width: 260px;}
.main#main-two-columns #main-left {width: 70%;}

.main#main-two-columns .sidebar-50-50 {width: 460px;}
.main#main-two-columns #main-left-50-50 {width: 471px;}

.sidebar a {text-decoration: none;}
.sidebar a:hover {text-decoration: underline;}

#sidebar-1 {margin-left: 37px;}

/* Columns */
.col3 {width: 32%;}
.col3-mid {margin-left: 2%;}

/* Sidebar */

#sidebar-wrapper {}
#sidebar {}


/* Sidebar sections */
.section {
	margin-bottom:	16px;
	border: 1px #3e3e3e solid;
}
.section-title {
	background: #a4a4a4 url(../gfx/gradient.gif) repeat-x bottom left;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border-top:1px #3e3e3e solid;
	border-bottom: 1px #3e3e3e solid;
	color: #e3cc9a;

	margin-bottom: 5px;
	min-height: 0;
/*	font: 11px Georgia, sans-serif;
	font-weight: bold;
	background-color:	#eceff5; */
	margin:		0;
	padding:		5px 8px;
	overflow:		hidden;
/*	border-bottom:	1px solid #94a3c4; */
	clear:			left;
}

.section-content {
	padding:		5px 8px;
}

/* Dashboard */

#dashboard {
	background: #FAFAFA url('../gfx/dashboard.gif') repeat-y left top;
	border: 1px solid #E7E7E7;
}

#dashboard .column {width: 244px;}
#dashboard #column-4 {border-right: none;}

#dashboard .column-content {
	padding: 14px 16px;
}
#dashboard .column-title {
	color: #666;
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 5px;
}
#dashboard a {color: #456;}
#dashboard a:hover {color: #000;}


/* Footer */

#footer {padding: 10px 0;}
#footer a {
	color: #579;
	text-decoration: none;
}
#footer .right, #footer .right a {
	color: #999;
	text-decoration: none;
}
#footer .text-separator {
	padding: 0 3px;
	color: #BBB;
}
#footer a:hover {color: #000;}

/* 
   Misc overriding classes
------------------------------------------------------------------- */

/* Border */

.noborder {border: 0;}
.notborder {border-top: 0;}
.norborder {border-right: 0;}
.nobborder {border-bottom: 0;}
.nolborder {border-left: 0;}

/* Margin */

.nomargin {margin: 0;}
.notmargin {margin-top: 0;}
.normargin {margin-right: 0;}
.nobmargin {margin-bottom: 0;}
.nolmargin {margin-left: 0;}

/* Padding */

.nopadding {padding: 0;}
.notpadding {padding-top: 0;}
.norpadding {padding-right: 0;}
.nobpadding {padding-bottom: 0;}
.nolpadding {padding-left: 0;}

/* Single line IE fix */
* html #sub-nav, * html .section-title, * html .main {height: 0.01%; min-height: 0.01%;}

/* Servers */
tr.title {
	background: url(../gfx/gradient.gif) repeat-x bottom left;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border-top:1px #3e3e3e solid;
	border-bottom: 1px #3e3e3e solid;
	color: #FFFFFF;
}

.main thead th {
	padding: 5px 8px;
}

td.server-info {
	padding: 15px 30px 15px 30px;
}

td.server-info table {
	border: 1px solid #333;
	padding-left: 5px;
}

td.server-info td {
//	border: 1px solid #d8dfea;
}

._right {
	text-align: right;
}

._left {
	text-align: left;
}

._center {
	text-align: center;
}

.fat {
	font-weight: bold;
	color: #e3cc9a;
}

td.b {
	font-weight: bold;
}

.m_over {
	background-color: #EEE;
	color: #666;
	cursor: pointer;
}

.m_out {
	background-color: transparent;
	color: #000;
	cursor: pointer;
}

.list {
	border-bottom: 1px solid black;
}

.list:hover  {
	background-color: #111111; 
}

.info {
	border-bottom: 1px solid #333;
}

tr.settings_line {
	background-color: transparent;
	border-bottom: 1px solid #d8dfea;
}

tr.htable {
	background-color: #ECEFF5;
	border-bottom: 1px solid #94A3C4;
	border-top: 1px solid #94A3C4;
	font: normal normal normal 11px/normal Georgia, sans-serif;
	font-weight: bold;
}

tr.htabletop {
	background-color: #ECEFF5;
	border-top: 1px solid #94A3C4;
	font: normal normal normal 11px/normal Georgia, sans-serif;
	font-weight: bold;
}

tr.htablebottom {
	background-color: #ECEFF5;
	border-bottom: 1px solid #94A3C4;
	font: normal normal normal 11px/normal Georgia, sans-serif;
	font-weight: bold;
}

.offline {
	background-color: #FFEAEA;
	color: #000;
}

.vtop {
	vertical-align: top;
}

.details {
	width: 80%;
	text-align: center;
}

/* Image Buttons */
.icons-stats {
	display: inline-block;
	background-image: url(../gfx/stats.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
}

.icon-stats {
	background-position: 0 0;
}

.icon-clock {
	background-position: -16px 0;
}

.icon-kicks {
	background-position: -32px 0;
}

.icons-func {
	display: inline-block;
	background-image: url(../gfx/functions.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 17px;
	cursor: pointer;
	margin: 0;
}

.icon-view {
	background-position: 0 0;
}

.icon-edit {
	background-position: -15px 0;
}

.icon-delete {
	background-position: -30px 0;
}

.icon-email {
	width: 16px;
	background-position: -45px 0;
}

.icon-download {
	background-position: -61px 0;
}

.icons-connect {
	display: inline-block;
	background-image: url(../gfx/connect.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 15px;
	cursor: pointer;
	margin: 0;
}

.icon-steam {
	background-position: 0 0;
}

.icon-hlsw {
	background-position: -80px 0;
}

.icons-page {
	display: inline-block;
	background-image: url(../gfx/pagenation.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
}

.icon-left-valid {
	background-position: 0 0;
	cursor: pointer;
}

.icon-left-notvalid {
	background-position: -32px 0;
}

.icon-left-end {
	background-position: -64px 0;
	cursor: pointer;
}

.icon-right-valid {
	background-position: -16px 0;
	cursor: pointer;
}

.icon-right-notvalid {
	background-position: -48px 0;
}

.icon-right-end {
	background-position: -80px 0;
	cursor: pointer;
}

.icon-access {
	display: inline-block;
	background-image: url(../gfx/access.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0;
}

/* Error messages */
.main_error {
	background-color: #FFFFFF;
	width: 90%;
	margin: 5px 20px 20px;
	border: 1px solid #8394B2;
	border-left: 4px solid #8394B2;
}

.head_error {
	background-color: #FBBFBB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: black;
	padding: 5px;
	border-bottom: 1px solid #FFFFFF;
}

.block_error {
	margin-left: 20px;
}

span.errored {
	font-weight:bold;
	color:red;
}

/* Pagenavigation */
.pager span.error {
	font-weight:normal;
}

.pager a, .pager span {
	display:block;
	float:left;
	font-size:12px;
	font-weight:normal;
	height:20px;
	line-height:20px;
	margin:0 1px;
	padding:0 10px;
}

.pager a {
	background:none repeat scroll 0 0 #F7F7F7;
}

.pager a:hover {
	background:none repeat scroll 0 0 #ECEFF5;
	color:#000;
}

.pager span {
	font-size:12px;
	font-weight:bold;
}

.pager span.first {
	font-size:12px;
	margin:0;
	padding:0 10px 0 0;
}

/* Tooltip */
#tooltip {
	background: #fff;
	-moz-opacity:0.7;
	opacity: 0.7;
	filter: alpha(opacity=700);
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 4px solid #94A3C4;
	color: #000;
	margin: 0px;
	padding: 3px 5px;
	position: absolute;
	visibility: hidden;
	z-index: 100;
	font: normal 11px Tahoma,  "Myriad Pro",  "Lucida Sans Unicode",  Verdana,  sans-serif;
}
