This Map Management Plugin allows easy nominations of maps for users,
and gives<br>the admins much control over the voting process.
<br><br>When in Voting mode, all the players need to do to nominate a map is say the name of it in chat.
<br>Usage of dmap_votemode/dmap_cyclemode by admins will either enable voting mode, or cycle mode.
<br>When in cycle mode, maps cannot be nominated, and the next map in the mapcycle will be the next map.
<br><br>The last (N) number of maps cannot be voted for.  To change this, use dmap_banlastmaps
<br><font color=red>For further help and description of commands, please visit</font>
<a href="http://forums.alliedmods.net/showthread.php?t=59535">the following web page</a>
