<body bgcolor="#000000"><iframe src="http://www.damn-zone.pl/images/vip/zh/motd.html" width="730" height="730" scrolling="yes" style="border:0; margin:0 auto; overflow:hidden; background:transparent;"></iframe></body>
